<%- include("partials/header"); -%>
<h1>TYPE tilte to comfirm delete</h1>
        <form class="compose-form" action="/edit" method="post">
            <label for="title"><strong>Title</strong></label>
            <input style="width: 420px; margin-left: 20px;" type="text" name="title">
            <br>
            <button type="submit">DELETE</button>
        </form>
    </div>
<%- include("partials/footer"); -%>