/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.ll {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formm {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.formm img {
  max-width: 200px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.amanc{
  margin: 10px;
}


.f {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top, .end {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.end {
  margin-top: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

a {
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}
